Repository lttr/chrono-albums: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Add list of supported browsers
  .browserslistrc
Due: none

Adjust template js-skeleton for this project
  .gitignore
  README.md
  package-lock.json
  package.json
  prototype/package.json
  tests/test.js
Due: prettier --write, eslint

Remove docs from template
  docs/Formatting, linting and code style.md
  docs/Generating files.md
Due: prettier --write

Fix linting
  .eslintrc
  .huskyrc
  .prettierignore
Due: none

Initial working filesystem metadata generation
  .npmignore
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  package.json
  src/config.default.js
  src/index.js
  src/isArrayEmpty.js
  src/sourceMetadata/file-utils.js
  src/sourceMetadata/generateMetadata.js
  src/sourceMetadata/index.js
  src/sourceMetadata/utils.js
  tests/fixture1/expectedSourceMetadata.json
  tests/fixture1/photos/2019-07-15 Travel/unsplash-travel-1.jpg
  tests/fixture1/photos/2019-07-15 Travel/unsplash-travel-2.jpg
  tests/fixture1/photos/2019-07-15 Travel/unsplash-travel-3.jpg
  tests/fixture1/photos/2019-08 Nature/unsplash-nature-1.jpg
  tests/fixture1/photos/2019-08 Nature/unsplash-nature-2.jpg
  tests/fixture1/photos/2019-08 Nature/unsplash-nature-3.jpg
  tests/fixture1/photos/not-a-photos-directory/file.txt
  tests/sourceMetadata/snapshots/structure.test.js.md
  tests/sourceMetadata/snapshots/structure.test.js.snap
  tests/sourceMetadata/structure.test.js
  tests/sourceMetadata/utils.test.js
  tests/test.js
Due: prettier --write, eslint

Add initial working google drive source metadata generator
  package-lock.json
  package.json
  src/index.js
  src/sourceMetadata/fileSystem/fileUtils.js
  src/sourceMetadata/fileSystem/generateMetadata.js
  src/sourceMetadata/generateMetadata.js
  src/sourceMetadata/googleDrive/generateMetadata.js
  src/sourceMetadata/googleDrive/googleApiClient.js
  src/sourceMetadata/googleDrive/listFiles.js
  src/sourceMetadata/index.js
  src/sourceMetadata/saveSourceMetadata.js
  src/sourceMetadata/shared/albums.js
  src/sourceMetadata/shared/photos.js
  tests/fixture1/expectedSourceMetadata.json
  tests/fixture1/photos/2019/2019-07-15 Travel/unsplash-travel-1.jpg
  tests/fixture1/photos/2019/2019-07-15 Travel/unsplash-travel-2.jpg
  tests/fixture1/photos/2019/2019-07-15 Travel/unsplash-travel-3.jpg
  tests/fixture1/photos/2019/2019-08 Nature/unsplash-nature-1.jpg
  tests/fixture1/photos/2019/2019-08 Nature/unsplash-nature-2.jpg
  tests/fixture1/photos/2019/2019-08 Nature/unsplash-nature-3.jpg
  tests/fixture1/photos/2019/not-a-photos-directory/file.txt
  tests/sourceMetadata/albums.test.js
  tests/sourceMetadata/fromFileSystem.test.js
  tests/sourceMetadata/photos.test.js
  tests/sourceMetadata/snapshots/fromFileSystem.test.js.md
  tests/sourceMetadata/snapshots/fromFileSystem.test.js.snap
  tests/sourceMetadata/snapshots/structure.test.js.snap
  tests/sourceMetadata/structure.test.js
Due: prettier --write, eslint

Remove pika for now
  .gitignore
  package-lock.json
  package.json
  src/cli.js
  src/index.js
Due: prettier --write, eslint

Initial cli implementation
  src/cli.js
  src/sourceMetadata/googleDrive/generateMetadata.js
  src/sourceMetadata/googleDrive/listFiles.js
Due: prettier --write, eslint

Add photos preparation and clean plugins
  .gitignore
  package-lock.json
  package.json
  src/clean/index.js
  src/cli.js
  src/config.js
  src/photosPreparation/index.js
  src/photosPreparation/preparePhotos.js
  src/photosPreparation/resize.js
  src/sourceMetadata/fileSystem/generateMetadata.js
  src/sourceMetadata/saveSourceMetadata.js
  src/utils.js
Due: prettier --write, eslint

WIP: Experiment building frontend with svelte or hyperhtml
  .eslintrc
  .gitignore
  frontend-spa/.gitignore
  frontend-spa/README.md
  frontend-spa/package-lock.json
  frontend-spa/package.json
  frontend-spa/public/favicon.png
  frontend-spa/public/global.css
  frontend-spa/public/index.html
  frontend-spa/public/sourceMetadata.json
  frontend-spa/rollup.config.js
  frontend-spa/src/Album.svelte
  frontend-spa/src/AlbumsList.svelte
  frontend-spa/src/App.svelte
  frontend-spa/src/BackArrow.svelte
  frontend-spa/src/Photoswipe.svelte
  frontend-spa/src/config.js
  frontend-spa/src/main.js
  frontend-spa/src/routes.js
  frontend-spa/src/store.js
  package-lock.json
  package.json
  src/frontend/albums.js
  src/frontend/assets/script.js
  src/frontend/assets/style.css
  src/frontend/chrono-albums.js
  src/frontend/config.js
  src/frontend/index.html
  src/frontend/script.js
  src/frontend/sourceMetadata.json
  src/photosPreparation/preparePhotos.js
  src/photosPreparation/resize.js
  src/sourceMetadata/shared/albums.js
  src/sourceMetadata/shared/photos.js
  tests/sourceMetadata/albums.test.js
  tests/sourceMetadata/snapshots/fromFileSystem.test.js.md
  tests/sourceMetadata/snapshots/fromFileSystem.test.js.snap
Due: prettier --write, eslint

Bundle css from photoswipe and skaut-design
  frontend-spa/package-lock.json
  frontend-spa/package.json
  frontend-spa/public/global.css
  frontend-spa/public/index.html
  frontend-spa/rollup.config.js
  frontend-spa/src/Album.svelte
  frontend-spa/src/AlbumsList.svelte
  frontend-spa/src/App.svelte
  frontend-spa/src/Photoswipe.svelte
  frontend-spa/src/helpers.js
  frontend-spa/src/routes.js
Due: prettier --write, eslint

WIP: Get Photoswipe to work
  frontend-spa/rollup.config.js
  frontend-spa/src/Album.svelte
  frontend-spa/src/App.svelte
  frontend-spa/src/Figure.svelte
  frontend-spa/src/Photoswipe.svelte
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,json,md,yml,js}
  eslint: any of: *.js
